@import "./base.scss";
.header {
  grid-area: head;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-left: 2.5rem;
  a {
    text-decoration: none;
  }
  h2 {
    color: $color-primary;
  }
}

.search {
  background-color: rgba($color-grey-dark-1, 0.08);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
  height: 40px;

  &:focus-within {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 2rem rgba($color-grey-dark-1, 0.08);
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light-3;
    }

    @media only screen and (max-width: $bp-medium) {
      width: auto;

      &::placeholder {
        color: white;
      }
    }
  }

  .search__btn {
    font-weight: 600;
    font-family: inherit;
    font-size: 13px;
    border: none;
    background-color: $color-primary;
    height: 40px;
    width: 80px;
    border-radius: 50px;
  }
}

.nav {
  margin-right: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  h2 {
    color: $color-primary;
    margin-left: 2px;
    padding: 5px;
    margin-bottom: 10px;
  }
  &_icon {
    font-size: large;
    margin-right: -5px;
    color: #f38e82;
  }
}
